{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block content %}


    <!-- BEGIN BLOG POST -->
    <div class="section-blog-post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="post-container">
                        <a class="back" href="{{ blog.get_absolute_url2 }}">Back to all posts</a>

                        <h1>{{ blog.title }}</h1>

                        <span class="by">Posted by <strong>{{ blog.author }}</strong> on <strong>{{ blog.pub_date|date }}</strong></span>

                        <div class="featured-image">
                            <img src="https://d2devwt40at1e2.cloudfront.net/api/file/FNVJdJWTu6N0tIwhx8AA" width="100%">
                        </div>

                        <div class="post-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra nec ligula vitae
                                finibus. Phasellus finibus maximus sem a pellentesque. Pellentesque tristique sagittis
                                odio, quis posuere ligula volutpat sed. In hac habitasse platea dictumst. Etiam molestie
                                semper massa. Sed semper justo a tortor pulvinar, sit amet blandit massa pulvinar. Etiam
                                non lorem ac nisi placerat tincidunt vel sit amet libero. Morbi vel suscipit nulla. Sed
                                diam justo, vestibulum eu diam eget, egestas rhoncus est. In hac habitasse platea
                                dictumst. Nam sodales velit vitae ex posuere tempus. Phasellus eu erat pharetra, varius
                                eros eget, lobortis turpis. Donec iaculis massa ac interdum cursus.
                            </p>
                        </div>

                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES * * */
                            var disqus_shortname = 'buttercms';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}